@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

:root {
  font-size: 16px;
  font-family: "Cabin";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #554219;
  --bg-secondary: #50627c;
  --transition-speed: 600ms;
  --color-one: #258b5c;
  --color-two: #00ffbf;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-primary) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/login_signup.jpg");
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  color: var(--text-secondary);
  background-color: #343439;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
  margin-bottom: 10px;
}

a {
  color: var(--text-secondary);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid var(--color-one);
  background-color: var(--color-one);
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #000000;
}

#su-pass-parent:focus-within {
  box-shadow: 0 3px crimson;
}

#su-pass-parent:focus-within.weak {
  box-shadow: 0 3px crimson;
}

#su-pass-parent:focus-within.medium {
  box-shadow: 0 3px gold;
}

#su-pass-parent:focus-within.strong {
  box-shadow: 0 3px seagreen;
}

.input-field {
  background: #232323;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  color: #b6b6b6;
  width: 100%;
  padding: 12px 15px;
  margin: 5px 0;
}

.input-field .svg-container.start {
  margin: 5px;
  padding: 5px;
  color: #b6b6b6;
}

.input-field input {
  margin-right: auto;
  background: #232323;
  border: none;
  color: #b6b6b6;
  width: 100%;
}

.input-field input:focus {
  outline: none;
  color: inherit;
  background: inherit;
}

.input-field .svg-container.check {
  margin: 5px;
  padding: 5px;
  color: green;
  display: none;
}

.input-field .svg-container.eye {
  margin: 5px;
  padding: 5px;
}

.sign-in-container button {
  border: 1px solid var(--color-two);
  background-color: var(--color-two);
}

form {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.error-msg-signin,
.error-msg-signup {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  color: #d8000c;
  background-color: #ffbaba;
  font-weight: 300;
  display: none;
}

.container {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--color-one);
  background: -webkit-linear-gradient(
    to right,
    var(--color-two),
    var(--color-one)
  );
  background: linear-gradient(to right, var(--color-two), var(--color-one));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #000000;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

#mobile-in {
  display: none;
}

#mobile-up {
  display: none;
}

/* Small Screen Sizes */

@media only screen and (max-width: 767px) {
  .container {
    width: 320px;
    max-width: 80%;
    height: 500px;
    box-shadow: 5px 5px 25px rgba(225, 0, 255, 1);
  }

  .sign-in-container {
    top: 0;
    width: 100%;
  }

  .sign-up-container {
    top: 0;
    width: 100%;
  }

  .overlay {
    width: 0;
  }

  #mobile-in {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
  }

  #mobile-in:hover {
    color: var(--color-two);
  }

  #mobile-up:hover {
    color: var(--color-one);
  }

  #mobile-up {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
  }
}
