.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0 493px;
}

.u-section-1 .u-product-1 {
  min-height: 598px;
  margin-top: -13px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-image-1 {
  width: 508px;
  height: 486px;
  margin: 71px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -411px auto 0 558px;
}

.u-section-1 .u-product-price-1 {
  margin: 24px 300px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -34px 446px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px 271px 0 auto;
  padding: 13px 53px;
}

.u-section-1 .u-product-2 {
  min-height: 598px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-1 .u-image-2 {
  width: 508px;
  height: 486px;
  margin: 71px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -411px auto 0 558px;
}

.u-section-1 .u-product-price-2 {
  margin: 24px 300px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -34px 446px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 68px 256px 0 auto;
  padding: 13px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 406px;
  }

  .u-section-1 .u-product-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 421px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -414px;
    margin-left: 470px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 29px;
    margin-right: 100px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-right: 363px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 198px;
    margin-right: 60px;
    padding-right: 120px;
    padding-left: 119px;
  }

  .u-section-1 .u-product-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 440px;
    height: 421px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -414px;
    margin-left: 470px;
  }

  .u-section-1 .u-product-price-2 {
    margin-top: 29px;
    margin-right: 100px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 25px;
    margin-right: 363px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 198px;
    margin-right: 60px;
    padding-right: 120px;
    padding-left: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 311px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 632px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -640px;
    margin-right: 272px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 791px;
    margin-right: 106px;
    padding-right: 78px;
    padding-left: 77px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 632px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -640px;
    margin-right: 272px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 791px;
    margin-right: 106px;
    padding-right: 78px;
    padding-left: 77px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 233px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 498px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -516px;
    margin-right: 214px;
  }

  .u-section-1 .u-btn-1 {
    margin: 737px auto -54px 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 498px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -516px;
    margin-right: 214px;
  }

  .u-section-1 .u-btn-2 {
    margin: 737px auto -54px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 147px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 306px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -311px;
    margin-right: 132px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 533px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 306px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -311px;
    margin-right: 132px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 533px;
  }
}