<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>Amusement Park Website Template</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" type="text/css">
</head>

<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<a href="index.html" class="logo">Wednesdays Wicked Adventure</a>
				<ul>
					<li class="selected">
						<a href="">home</a>
					</li>
					<li>
						<a href="login-signup.html">login &amp; sign up</a>
					</li>
					<li>
						<a href="">about</a>
					</li>
					<li>
						<a href="">tickets &amp; prices</a>
					</li>
					<li>
						<a href="">contact</a>
					</li>
					<li>
						<a href="">view your ticket</a>
					</li>
				</ul>
			</div>
			<div id="body">
				<div id="figure">
					<img src="{{ url_for('static', filename= 'images/mother-and-child.png') }}" alt=""> <a href=""><img src="{{ url_for('static', filename= 'images/discounts.png') }}"
							alt=""></a>
				</div>
				<div id="section">
					<h1>rides and attractions</h1>
					<div>
						<div class=" article">
							<p>
								Choose your rides according to your choice.
							</p>
							<ul>
								<li>
									<a href=""><img src="images/swing-ride.jpg" alt=""></a> <span>Ferris
										Wheel</span>
									<p class="description">
										The Ferris wheel designed and built
										three wooden wheels—each
										measuring 50 feet in diameter—in New York and New Jersey. Both men owed a debt
										to the similar, yet awkwardly named, wooden “pleasure wheels” invented in 17th
										century Bulgaria.</p>
								</li>
								<li>
									<a href=""><img src="images/family.jpg" alt=""></a> <span> The
										Rollercoaster</span>
									<p>Roller Coaster, elevated railway with steep inclines and descents that carries a
										train of passengers through sharp curves and sudden changes of speed and
										direction for a brief thrill ride. </p>
								</li>
							</ul>
						</div>
						<div class="aside">
							<div>
								<h3>Updates</h3>
								<ul>
									<li>
										<p>
											<a href="#">&#64;themepark</a> No you can book online
										</p>
									</li>
									<li>
										<p>
											<a href="#">&#64;themepark</a> book your rides online
										</p>
									</li>
								</ul>
							</div>
							<div>
								<h3>newsletter</h3>
								<p>
									Want updates on every ride
								</p>
								<form action="index.html">
									<input type="text" name="email" id="email" value="email address">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div>
					<div>
						<h3>categories</h3>
						<ul class="category">
							<li>
								<a href="">home</a>
							</li>
							<li>
								<a href="">about</a>
							</li>
							<li>
								<a href="">rides &amp; attractions</a>
							</li>
							<li>
								<a href="">tickets &amp; prices</a>
							</li>
							<li>
								<a href="">contact</a>
							</li>
							<li>
								<a href="">tickets &amp; prices</a>
							</li>
						</ul>
					</div>
					<div>
						<h3>connect</h3>
						<ul class="connect">
							<li id="facebook">
								<a href="">facebook</a>
							</li>
							<li id="twitter">
								<a href="">twitter</a>
							</li>
							<li id="googleplus">
								<a href="">googleplus</a>
							</li>
						</ul>
					</div>
				</div>
				<p>
					&copy; copyright 2012. all rights reserved.
				</p>
			</div>
		</div>
	</div>
</body>

</html>