<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login/Sign Up page with Validation</title>
  <link rel="stylesheet" href="../static/css/login_style.css">
  <!-- <link rel="stylesheet" href="{{url_for('.static', filename='../staic/css/login_style.css')}}"> -->
</head>

<body>
  <!-- partial:index.partial.html -->

  <body>`
    <div class="container" id="container">
      <div class="form-container sign-up-container" id="sign-up-container">
        <form action="/login_signup_check" method="POST">
          <h1>Create Account</h1>
          <span>or use your email for registration {{confirm_message}}</span>
          <div class="input-field">
            <div class="svg-container start">
              <i class="fad fa-user"></i>
            </div>
            <input type="text" placeholder="Full Name" name="su-name" id="su-name" required />
            <div class="svg-container check" id="su-name-check">
              <i class="fa fa-check"></i>
            </div>
          </div>

          <div class="input-field">
            <div class="svg-container start">
              <i class="fad fa-envelope"></i>
            </div>
            <input type="email" placeholder="E-mail" name="su-mail" id="su-mail" required />
            <div class="svg-container check" id="su-mail-check">
              <i class="fa fa-check"></i>
            </div>
          </div>

          <div class="input-field" id="su-pass-parent">
            <div class="svg-container start">
              <i class="fad fa-lock"></i>
            </div>
            <input type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
              name="su-pass" id="su-pass" required />
            <div class="svg-container eye" id="su-pass-show">
              <i class="fad fa-eye" id="togglePassword"></i>
            </div>
          </div>

          <div class="input-field">
            <div class="svg-container start">
              <i class="fad fa-lock"></i>
            </div>
            <input type="password" placeholder="Password (again)" name="su-pass-re" id="su-pass-re" required />
            <div class="svg-container eye" id="su-pass-re-show">
              <i class="fad fa-eye" id="togglePasswordRe"></i>
            </div>
          </div>

          <div class="error-msg-signup" id="error-msg-signup"></div>
          <button style="margin-top: 10px" id="sign-up-btn">Sign Up </button>

          <!-- Start of pop up for registration -->
          <!--            <script>-->
          <!--                function sign_up() {-->
          <!--                document.get-->
          <!--                }-->
          <!--            </script>-->
          <!--End of pop up for registration -->
          <a id="mobile-in">Sign In <i class="fa fa-arrow-right"></i></a>
        </form>
      </div>


      <div class="form-container sign-in-container" id="sign-in-container">
        <form action="/login_signup_check" method="GET">
          <h1>Sign in</h1>
          <span>or use your account</span>
          <div class="input-field">
            <div class="svg-container start">
              <i class="fad fa-envelope"></i>
            </div>
            <input type="email" placeholder="E-mail" name="email" required />
          </div>
          <div class="input-field">
            <div class="svg-container start">
              <i class="fad fa-lock"></i>
            </div>
            <input type="password" placeholder="Password" name="password" required />
          </div>
          <div class="error-msg-signin">
            <i class="fa fa-times-circle"></i>
            This is a error message.
          </div>
          <a href="#">Forgot your password?</a>
          <button type="Submit">Sign In</button>
          <a id="mobile-up">Sign Up <i class="fa fa-arrow-right"></i></a>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>One of us ?</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>New here ?</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="https://kit-pro.fontawesome.com/releases/v5.10.1/js/pro.min.js" data-auto-fetch-svg></script>
  <script type="text/javascript" src="login.js"></script> -->
  </body>
  <!-- partial -->
  <script src="{{url_for('.static' , filename='js/script.js')}}" defer="defer"></script>
  <!-- <script src='https://kit-pro.fontawesome.com/releases/v5.10.1/js/pro.min.js'></script> -->

</body>

</html>
